<%- include('partials/header.ejs') %> 
 
 <!-- all jobs section starts  -->
 
 <section class="jobs-container">
 
    <h1 class="heading">all jobs</h1>
 
    <div class="box-container">
 
      

    </div>
 
 </section>
 
 
 <!-- all jobs section ends -->

 <%- include('partials/footer.ejs') %> 
