<%- include('partials/header.ejs') %> 

<!-- account section starts  -->

<div class="account-form-container">

    <section class="account-form">
 
       <form action="/login" method="post">
          <h3>welcome back!</h3>
          <input type="email" required name="email" maxlength="50" placeholder="enter your email" class="input">
          <input type="password" required name="password" maxlength="20" placeholder="enter your password" class="input">
          <p>don't have an account? <a href="register">register now</a></p>
          <input type="submit" value="login now" name="submit" class="btn">
          <a class="google-sign-in-button" href="/auth/google" role="button">
            Sign In with Google
          </a>
       </form>
    
    </section>
 
 </div>
 
 <!-- account section ends -->

<%- include('partials/footer.ejs') %> 
