<%- include('partials/header.ejs') %> 


<!-- job filter section stars  -->



<section class="job-filter">

    <h1 class="heading">Fill Your Job Details</h1>
 
    <form action="postjob"  method="post" id="submitForm">
       <div class="flex">
          <div class="box">
             <p>job title <span>*</span></p>
             <select  name="jobTitle" size="1" id="job" placeholder="keyword, category or company" required maxlength="20" class="input">
                <option selected>Car Washing</option>
                <option >Restaurant Cafe</option>
                <option >Security</option>
                <option >Shops</option>
                <option >Car-Service</option>
                <option >IT Designer</option>
                <option >Delivery</option>
                <option >Other Jobs</option>
             </select>
          </div>
          <div class="box">
             <p>job location</p>
             <select  name="jobLoc" size="1" placeholder="keyword, category or company" required maxlength="20" id="city" class="input">
                <option selected>Sulaimaniah</option>
                <option >Erbil</option>
                <option >Kirkuk</option>
                <option >Duhok</option>
             </select>
       </div>
 
       <!-- view job section starts  -->
 
 <section class="job-details">
 
    
 
    <div class="details">
       <div class="job-info">
          <h3>Post Your Job</h3>
         
            
       </div>
       <div class="box">
         <h3>Company Name</h3>
         <input type="text" name="companyName" placeholder="Name of The Company" id="quantity"   required maxlength="50" class="input">
       </div>
       <div class="box">
            <h3>Salary</h3>
          <input type="number" name="salary" placeholder="Enter Salary Only IQD" id="salary" step="5000" min="50000" required maxlength="50" class="input">
 
          <h3>Time</h3>
             <select  name="shift" size="1" placeholder="working-type" required maxlength="20" id="shaft" class="input">
                <option selected>full-time</option>
                <option >Day-Shaft</option>
                <option >Night-Shaft</option>
                <option >Midnight-Shaft</option>
             </select>
 
             
            
          
          
       </div>
       <ul class="box">
          <h3>Gender</h3>
          
          <select  name="gender" size="1" placeholder="Gender" required maxlength="20" id="gender" class="input">
             <option selected>Male</option>
             <option >Female</option>
          </select>
 
          <h3>Education</h3>
          <select  name="education" size="1"  placeholder="Education" required maxlength="20" id="education" class="input">
             <option >Not-Nessesery</option>
             <option selected>Passed-9th</option>
             <option >Passed-12th</option>
             <option >Diploma</option>
             <option >bechalure</option>
             <option >master</option>
          </select>
 
          <h3>Experience</h3>
          <select  name="experience" size="1" placeholder="experience" required maxlength="20" class="input" id="experience">
             <option >Not-Nessesery</option>
             <option selected>1 Year</option>
             <option >2 Years</option>
             <option >3 Years</option>
             <option >Over than 3 Years</option>
             
          </select>

       </ul>
       
       
       <div class="box">
          <h3>job description</h3>
          <textarea name="jobDescription" class="input" placeholder="Discribe your requirements " id="description" cols="30" rows="10" ></textarea>
          
          <input type="number" name="numberOfEmployees" placeholder="Number of workers" id="quantity"   required maxlength="50" class="input">
       </div>
       <form action="" method="post" class="flex-btn">
          <input type="button" value="Preview" name="click" id="btn1" class="btn" >
         
       </form>
    </div>
   </form>
 </section>
    <br><br><br><br>


    <section class="job-details">



    <div class="details">
       <div class="job-info">
          <h3 id="out9"></h3>
          
          <p id="out8"><i class="fas fa-map-marker-alt"></i></p>
       </div>
       <div class="basic-details">
          <h3>salary</h3>
          <p id="out1"></p>
          <h3>Time</h3>
          <p id="out2"></p>
          <h3>Gender</h3>
          <p id="out3"></p>
          <h3>Education-Needed</h3>
          <p id="out4"></p>
          <h3>Experience</h3>
          <p id="out5"></p>
          <h3>description</h3>
          <p id="out6"> <br>
           </p>
           <h3>Workers Needed</h3>
           
           <p id="out7"></p>
       </div>
       
             
       </div>
       <div class="flex-btn">
         <button type="submit" form="submitForm" name="apply" class="btn">apply now</button>
       </div>
    </div>
 
 </form> 


</section>


 


<!-- view job section ends -->
 

<!-- job filter section ends -->
<%- include('partials/footer.ejs') %> 
