<%- include('partials/header.ejs') %> 

<!-- account section starts  -->

<div class="account-form-container">

    <section class="account-form">
 
       <form action="/register" method="post">
         <h1 class="errText"><%= errText %></h1>
         <br>
          <h3>create new account!</h3>
          <input type="text" required name="name" maxlength="20" placeholder="enter your name" class="input">
          <input type="email" required name="email" maxlength="50" placeholder="enter your email" class="input">
          <input type="password" required name="password" maxlength="20" placeholder="enter your password" class="input">
          <input type="password" required name="c_pass" maxlength="20" placeholder="confirm your password" class="input">
          <p>already have an account? <a href="login">login now</a></p>
          <input type="submit" value="reigster now" name="submit" class="btn">
          <a class="google-sign-in-button" href="/auth/google" role="button">
            Sign In with Google
          </a>
       </form>
    
    </section>
 
 </div>
 
 <!-- account section ends -->

<%- include('partials/footer.ejs') %> 
