<%- include('partials/header.ejs') %> 

    <!-- view job section starts  -->

<section class="job-details">

    <h1 class="heading">job details</h1>
 
    <div class="details">
       <div class="job-info">
          <h3>era bo category</h3>
          
          <p><i class="fas fa-map-marker-alt"></i>era bo location</p>
       </div>
       <div class="basic-details">
          <h3>salary</h3>
          <p>para bo era</p>
          <h3>Time</h3>
          <p>Kat bo era</p>
          <h3>Gender</h3>
          <p>Ragaz bo era</p>
          <h3>Education-Needed</h3>
          <p>Asti xwendn bo era</p>
          <h3>Experience</h3>
          <p>Sharazay bo era</p>
          <h3>description</h3>
          <p>zanyari tawaw zyada bo era <br>
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
       zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz <br>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br></p>
           <h3>Workers Needed</h3>
           <p>zhmaray karmande dawakraw bo era</p>
       </div>
       
             
       </div>
       <form action="" method="post" class="flex-btn">
          <input type="submit" value="apply now" name="apply" class="btn">
         
       </form>
    </div>
 
 </section>
 
 <!-- view job section ends -->
 

<%- include('partials/footer.ejs') %> 
